@import url(./style-igrejas.css);
main{
    background-color: #efddc9;
    width: 95%;
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: -2px 6px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 29px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 29px -1px rgba(0,0,0,0.75);
}


#conteudo,aside{
width: 45%;
margin: 50px auto;
border: red solid 2px;
height: 450px;
}
main>section{
    display: flex;
    justify-content: space-between;

}
/*-- CARD DO MODAL ATIVAR APENAS EM ENVENTOS--------------------------------------------------------*/
/*
#cardAvisos{
    width: 70%;
    height: 650px;
    border:red solid 1px;
    background-color: white;
    position: absolute;
    margin:150px auto;
    margin-left: 15%;
    z-index: 99;
}
#fundo,#fundoMain{
    background-color: rgba(0, 0, 0, 0.6);
}
#cardAvisos>button{
    margin-left: 95%;
    font-size: 2em;
    background: transparent;
    margin-top: 20px;
    border: none;
}

*/
/*-- FINAL CARD DO MODAL --------------------------------------------------------------------------*/