@import url(./style-igrejas.css);

main {
    background-color: #efddc9;
    width: 95%;
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
}
p{
    font-size: 1.2em;
}
#conteudo,
aside {
    width: 45%;
    margin: 50px auto;
    height: auto    ;
}
aside>img{
    width: 100%;
    min-height: 350px;
    border-radius: 20px;
}

main>section {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#conteudo>p,
h3 {
    margin-top: 30px;
}

aside>iframe {
    width: 100%;
    height: 80%;
    min-height: 450px;
}




@media screen and (max-width:900px) {
    section {
        flex-direction: column;
    }
    #conteudo,
    aside {
        width: 95%;
        margin-bottom: 0px;
        margin-top: 0px;
        height: auto;
    }

    aside>iframe {
        min-height: 500px
        ;
        margin-top: 20px;
    }

    #conteudo {
        margin-top: 0px;
    }
}