@import url(./style-igrejas.css);

main {
    background-color: #efddc9;
    width: 95%;
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 29px -1px rgba(0, 0, 0, 0.75);
}

#conteudo,
aside {
    width: 45%;
    margin: 50px auto;
    height: auto    ;
}
aside>img{
    width: 100%;
    min-height: 350px;
    border-radius: 20px;
}

main>section {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#conteudo>p,
h3 {
    margin-top: 30px;
}

aside>iframe {
    width: 100%;
    height: 80%;
}


/*-- INICIO CARD DO MODAL ATIVAR APENAS EM ENVENTOS--------------------------------------------------------*/

#cardAvisos{
    width: 70%;
    height: auto;
    background-color: rgb(225, 223, 223);
    position: absolute;
    margin:20px auto;
    margin-left: 15%;
    z-index: 99;
    border-radius: 20px;
    box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.enviar{
    height: 50px;
    margin: 20px auto;
    background-color: rgb(32, 196, 32);
    width: 80%;
    border-radius: 20px;
    border: none;
    box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    color: rgb(49, 21, 21);
    font-weight: bold;
    font-size: 1.2em;
}
.enviar:hover{
    height: 55px;
    width: 90%;
    background-color: red;
    color: wheat;
    font-weight: bold;
    font-size: 1.5em;
}
#fundo,#fundoMain{
    background-color: rgba(0, 0, 0, 0.6);
}
form{
    display: flex;
    width: 80%;
    margin:20px auto;
    flex-direction: column;
}
input{
    height: 30px;
}
#cardAvisos>button{
    margin-left: 95%;
    font-size: 2em;
    background: transparent;
    margin-top: 20px;
    border: none;
}


/*-- FINAL CARD DO MODAL --------------------------------------------------------------------------*/

@media screen and (max-width:900px) {
    section {
        flex-direction: column;
    }
    /*-- INICIO CARD DO MODAL ATIVAR APENAS EM ENVENTOS--------------------------------------------------------*/
    #cardAvisos{
        width: 100%;
        height: auto;
        background-color: rgb(225, 223, 223);
        position: absolute;
        margin:20px auto;
        z-index: 99;
        border-radius: 20px;
        box-shadow: -2px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }
    #cardAvisos>button{
        margin-left: 90%;
        font-size: 1.5em;
        background: transparent;
        margin-top: 20px;
        border: none;
    }
/*-- FINAL CARD DO MODAL --------------------------------------------------------------------------*/
    #conteudo,
    aside {
        width: 95%;
        margin-bottom: 0px;
        margin-top: 0px;
        height: auto;
    }

    aside>iframe {
        min-height: 500px
        ;
        margin-top: 20px;
    }

    #conteudo {
        margin-top: 0px;
    }
}